<div id="<%= dom_id user_event_award %>">

  <p>
    <strong>User:</strong>
    <%= user_event_award.user.name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= user_event_award.event.description %>
  </p>

  <p>
    <strong>Award:</strong>
    <%= user_event_award.award.description %>
  </p>

</div>
