<h1>Editing user event award</h1>

<%= render "form", user_event_award: @user_event_award %>

<br>

<div>
  <%= link_to "Show this user event award", @user_event_award %> |
  <%= link_to "Back to user event awards", user_event_awards_path %>
</div>
