<p style="color: green"><%= notice %></p>

<h1>User event awards</h1>

<div id="user_event_awards">
  <% @user_event_awards.each do |user_event_award| %>
    <%= render user_event_award %>
    <p>
      <%= link_to "Show this user event award", user_event_award %>
    </p>
  <% end %>
</div>

<%= link_to "New user event award", new_user_event_award_path %>
