<p style="color: green"><%= notice %></p>

<h1>User awards</h1>

<div id="user_awards">
  <% @user_awards.each do |user_award| %>
    <%= render user_award %>
    <p>
      <%= link_to "Show this user award", user_award %>
    </p>
  <% end %>
</div>

<%= link_to "New user award", new_user_award_path %>
